# System files
.DS_Store
Thumbs.db
.htaccess

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
/node_modules
/vendor

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/dist
/build

# Temporary files
/tmp
/temp
*.tmp
*.temp
*.swp
*.swo

# Cache
/cache
*.cache

# Uploaded files (in a real project)
/uploads/*
!/uploads/.gitkeep 